$pageFont: Verdana, Geneva, Tahoma, sans-serif;

.page__container__fashion {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    rgba(255, 185, 144, 0.219),
    rgba(126, 218, 249, 0.158)
  );
  height: 100vh;
  font-family: $pageFont;
  button {
    font-family: $pageFont;
    background: rgb(252, 252, 252);
    border-radius: 150px;
    border: 1px solid black;
  }
}

.fashion__nav {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  .fashion__nav__brand {
    font-size: 2rem;
  }
  .fashion__nav__btn {
    width: 10vw;
    padding: 1rem 0;
    font-size: 1em;
  }
}

.container__fashion__landing {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  background: linear-gradient(rgba(255, 255, 255, 0.11), rgba(0, 0, 0, 0.596));
  .fashion__landing__hero__S {
    width: 60vw;
    flex: 1;
    margin: 0 auto;
    text-align: left;
    h1 {
      font-size: 98px;
    }
  }
  .fashion__landing__btns__S {
    display: inherit;
    margin-bottom: 20vh;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
    button {
      padding: 1rem 4rem;
      border-radius: 100px;
      outline: none;
      border: none;
    }
    .fl__btn-f {
      background: rgba(255, 255, 44, 0.315);
    }
    .fl__btn-m {
      background: rgb(109, 109, 252);
    }
  }
  .fashion__landing__imgs__S {
    flex: 3;
    display: flex;
    justify-content: row;
    min-width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    .fl__img {
      height: 70vh;
    }
  }
}
