@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');

.wel__v__container {
  display: flex;
  background: #9efff9;
  width: 100vw;
  .wel__hero__image {
    object-fit: cover;
    max-height: 100vh;
    min-width: 100%;
  }
}
