.spaceMain {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
  main {
    height: 100vh;
    width: 100vw;
    background: transparent;
    z-index: 2;
    font-size: 50vh;
    font-weight: bolder;
    background: black;
    color: rgb(255, 255, 255);
    line-height: 70vh;
    position: absolute;
    mix-blend-mode: multiply;
  }
  video {
    width: 100%;
    position: absolute;
    object-fit: cover;
  }
}

.spaceBody {
  max-width: 100vw;
  position: relative;
  .navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 1rem;
    justify-content: space-between;
    background: black;
    color: rgb(28, 184, 223);
    div {
      display: flex;
      justify-content: space-evenly;
      flex: 1;
    }
  }
}

.spaceSub {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  section {
    max-width: 100%;
    margin: auto;
    padding: 2rem;
    .rover__img__container {
      position: relative;
      height: auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
      gap: 10px;
      grid-auto-flow: dense;
      .rover__img__wrapper {
        height: 100%;
        width: 100%;
        position: relative;
        .rover__img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}


