@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
.wel__navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: white !important;
}

.wel__logo {
  color: rgb(255, 220, 154) !important;
}

.wel__logo:hover {
  color: rgb(110, 72, 0) !important;
}

.wel__nav__link {
  color: white !important;
  height: 100%;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  font-family: 'Asap Condensed', sans-serif;
}

.wel__nav__link:hover {
  background: rgb(110, 72, 0) !important;
  color: white;
}
