.wel__landing--top {
  background: #eba40d;
}

.wel__lead {
  color: rgb(255, 202, 103);
  h1 {
    margin-top: 0;
  }
}

.wel__hero_description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Asap Condensed', sans-serif;
  background: rgb(255, 255, 172);
  border: 5px solid black;
  border-radius: 75%;
  padding: 5em 0;
  width: 40%;
  margin: auto;
  h1 {
    font-size: 3em;
  }
}
